
Exercícios 01

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [118]:
numero = ["1, 2, 3, 4, 5, 6, 7, 8, 9, 10"]

In [119]:
numero

['1, 2, 3, 4, 5, 6, 7, 8, 9, 10']

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [122]:
obj = ["cadeira, mesa, caderno, caneta, marcador"]

In [123]:
obj

['cadeira, mesa, caderno, caneta, marcador']

In [65]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [124]:
a = 'Boa '

In [125]:
b = 'noite'

In [126]:
c = a + b

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [127]:
tupla1 = ("1, 2, 2, 3, 4, 4, 4, 5")

In [128]:
tupla1.count("4")

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [44]:
objetos = {  }

In [45]:
objetos

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [46]:
altura = {"Joyce":1.62, "Beatriz":1.73, "Vitoria":1.67}

In [47]:
altura

{'Joyce': 1.62, 'Beatriz': 1.73, 'Vitoria': 1.67}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [105]:
altura2 = {"Sandra": 1.65}

In [106]:
altura.update(altura2)

In [107]:
altura

{'Joyce': 1.62, 'Beatriz': 1.73, 'Vitoria': 1.67, 'Sandra': 1.65}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [114]:
comida = {"bolo": 10, "pizza": 8, "lasanha": 12}

In [115]:
comida["pizza"] = 2, 4

In [116]:
comida

{'bolo': 10, 'pizza': (2, 4), 'lasanha': 12}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [80]:
"oi"

'oi'

In [129]:
a = "oi"

In [130]:
tupla1 = ("leite", "nescau")

In [131]:
dic = {"copo": 250, "jarra": 1000}

In [132]:
float(23)

23.0

In [133]:
lista2 = [a, tupla1, dic, float(23)]

In [134]:
print(lista2)

['oi', ('leite', 'nescau'), {'copo': 250, 'jarra': 1000}, 23.0]

In [135]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o melhor profissional do século XXI'

In [136]:
frase = 'Cientista de Dados é o melhor profissional do século XXI'

In [137]:
frase[1:18]

'ientista de Dados'

# Fim